{% block avatar %}

{% if user.is_authenticated %}
<button class="btn btn-light dropdown-toggle d-flex align-items-center" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
    <img
    src="{{user.ImageUrl}}"
    class="avatarImage mx-1"
    height="35"
    alt="Black and White Portrait of a Man"
    loading="lazy"
    />

  </button>
  <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton1">
    <li><a class="dropdown-item">Signed in as <b>{{ user.Username }}</b></a></li>
    <li><hr class="dropdown-divider"></li>
    <li><a class="dropdown-item" href="#">Profile</a></li>
    <li><a class="dropdown-item" href="#">Favorite Recipes</a></li>
    <li><hr class="dropdown-divider"></li>
    <li><a class="dropdown-item" href="{{url_for('logout')}}">Logout</a></li>
  </ul>

{% endif %}
{% endblock %}