<!-- extend base template -->
{% extends "authenticationBase.html" %}

{% block Content %}
<h1 class="mb-3">Welcome Back!</h1>
<form action="/login" method="post" name="Login">
    <div class="form-floating mb-3">
        {{ form.Username(class_='form-control', placeholder="Username123") }}
        <label for="floatingInput">Username</label>
    </div>
    <div class="form-floating mb-3">
        {{ form.Password(class_='form-control', placeholder="Password") }}
        <label for="floatingPassword">Password</label>
    </div>
    <div class="form-check mb-3">
        <input class="form-check-input" type="checkbox" value="" id="rememberPasswordCheck">
        <label class="form-check-label" for="rememberPasswordCheck">
            Remember password
        </label>
    </div>

    <div class="d-grid">
        <button type="submit" class="btn btn-lg btn-primary btn-login text-uppercase fw-bold mb-2" value="login">Sign In</button>
        <div class="text-center">
            <a class="small" href="{{url_for('register')}}">Don't have account?</a>
        </div>
    </div>
</form>
{% endblock %}