<!-- extend base template -->
{% extends "base.html" %}

{% block main %}
<div class="container my-5">

    <div class="d-flex align-items-center">
        <h1 class="">{{current_recipe.name}}</h1>
        {% if user.is_authenticated %}
            {% if current_recipe in user.favorites %}
                <a href="/unfollowRecipe"><img class="ps-2" src="{{url_for('static', filename='images/star-fill.svg')}}" alt="Favorite checked"></a>
            {% else %}
                <a href="/followRecipe"><img class="ps-2" src="{{url_for('static', filename='images/star.svg')}}" alt="Favorite unchecked"></a>
            {% endif %}

            <span>({{followers_count}})</span>
        {% else %}
            <a href="/followRecipe"><img class="ps-2" src="{{url_for('static', filename='images/star.svg')}}" alt="Favorite unchecked"></a>
            <span>({{followers_count}})</span>
        {% endif %}
    </div>

    <div class="row ">
        <p class="mb-2">Created by <b>{{ current_recipe.owner.username }}</b>
            <img src="{{current_recipe.owner.image_url}}" class="avatarImage" height="25" width="25" alt="Profile picture" loading="lazy"/>
            {% if user.id == current_recipe.owner.id %}
                <a href="/deleteRecipe"><img src="{{url_for('static', filename='images/trash-fill.svg')}}" alt="Delete button"></a>
            {% endif %}
        </p>
        <div class="recipeDivMaxHeight col-12 pe-1">
            <img class="recipeMainImage rounded" src="{{current_recipe.image_url}}" alt="Recipe image">
        </div>
    </div>

    <div class="container my-5 mx-0 p-0">
        <div class="row justify-content-center">
            <div class="col-auto ps-0">
                <div class="card" style="width: 19rem;">
                    <div class="card-header">
                        Ingredients
                    </div>
                        {% for ingrediant in current_recipe.GetIngrediants() %}
                            <div class="row m-0">
                                <div class="col-9 border">
                                    <div class="d-flex align-items-center w-100 h-100 py-2">
                                        <p class="m-0">{{ingrediant[0]}}</p>
                                    </div>
                                </div>
                                <div class="col-3 border">
                                    <div class="d-flex align-items-center w-100 h-100 py-2">
                                        <p class="m-0">{{ingrediant[1]}}</p>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                </div>
            </div>
            <div class="col-md-9">
                <h2 class="mb-3">Preparation</h2>
                {% autoescape false %}
                <p class="justify-text">{{current_recipe.GetInstructions(-1)}}</p>
                {% endautoescape %}
        </div>
    </div>
</div>
{% endblock %}