<!-- extend base template -->
{% extends "authenticationBase.html" %}

{% block Content %}
{%include "flashHelper.html"%}
<h1 class="mb-3">Register</h1>
<form action="/register" method="post" name="Registration">
    <!-- custom hidden tag for validation -->
    {{ form.hidden_tag() }}

    <div class="form-floating mb-3">
        {{ form.username(class_='form-control', placeholder="Username123") }}
        <label>Username</label>
    </div>

    <div class="form-floating mb-3">
        {{ form.password(class_='form-control', placeholder="Password") }}
        <label>Password</label>
    </div>
    <div class="form-floating mb-3">
        {{ form.confirmPassword(class_='form-control', placeholder="Password") }}
        <label>Confirm Password</label>
    </div>

    <div class="form-floating mb-3">
        {{ form.profileUrl(class_='form-control', placeholder="URL") }}
        <label>Profile Image URL</label>
    </div>

    <div class="mb-3">
        {{ form.terms(class_='form-check-input') }}
        <label>I agree to all statements in <a href="#!">Terms of service</a></label>
    </div>

    <div class="d-grid">
        <button type="submit" class="btn btn-lg btn-primary btn-login text-uppercase fw-bold mb-2" value="register">Sign Up</button>
        <div class="text-center">
            <a class="small" href="{{url_for('login')}}">Already have an account?</a>
        </div>
    </div>
</form>

{% endblock %}